html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  height: 100vh;
  width: 100vw;
  position: relative;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
body::after {
  content: "";
  background-image: url("./todosbg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

#root {
  font-size: 1.5rem;
  font-family: "Hind Siliguri", sans-serif;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 60%;
}
.container .todo-input {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding: 0.5rem;
  font-family: "Montserrat", sans-serif;
}
.container .todo-input .input {
  background: rgba(45, 45, 171, 0.15);
  width: 20rem;
  height: 3rem;
  font-size: 1.5rem;
  border: none;
  border-radius: 0.35rem;
}
.container .todo-input .add {
  margin-right: 5rem;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}
.container .todo-input .add,
.container .todo-input .clear {
  font-family: "Montserrat", sans-serif;
  font-size: 1.25rem;
  font-weight: bolder;
  color: white;
  cursor: pointer;
  border: none;
  border-radius: 0.5rem;
  background-color: rgba(45, 45, 171, 0.5);
  padding: 0.75rem;
}
.container .todo-input .add:hover,
.container .todo-input .clear:hover {
  color: rgba(45, 45, 171, 0.5);
  background: white;
}
.container .todo-input .left {
  margin: 0 auto;
  color: white;
  width: 40%;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-weight: bold;
  background-color: rgba(62, 62, 95, 0.5);
}

.check-task {
  display: block;
  opacity: 0;
}
.check-task:checked + .task-msg::before {
  content: "";
  width: 2rem;
  height: 2rem;
  left: 0;
  top: 0;
  position: absolute;
  outline: 5px solid rgb(39, 144, 48);
  background-image: url("./bookmark-gray.png");
  background-size: cover;
}
.check-task:checked + .task-msg::after {
  content: "";
  width: 2rem;
  height: 2rem;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("./bookmark-colored.png");
  background-size: cover;
  transform: scale(1);
  opacity: 1;
  transition: all 0.4s ease;
}
.check-task:not(:checked) + .task-msg::after {
  content: "";
  width: 2rem;
  height: 2rem;
  left: 0;
  top: 0;
  position: absolute;
  background-image: url("./bookmark-colored.png");
  background-size: cover;
  transform: scale(0);
  opacity: 0;
}

.task-msg {
  position: relative;
  padding-left: 1.65em;
  cursor: pointer;
  display: inline-block;
  color: rgb(15, 6, 51);
}
.task-msg::before {
  content: "";
  width: 2rem;
  height: 2rem;
  left: 0;
  top: 0;
  position: absolute;
  outline: 2px solid #aaa;
  background-image: url("./bookmark-gray.png");
  background-size: cover;
}